@model CarInsurance.Models.Insuree

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.EditorFor(m => m.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.EditorFor(m => m.EmailAddress)
    </div>

    <div class="form-group">
        @Html.Label("DateOfBirth")
        <input type="datetime-local" name="DateOfBirth"
               value="@(Model?.DateOfBirth?.ToString("yyyy-MM-ddTHH:mm"))"
               class="form-control" />
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.CarYear)
        @Html.EditorFor(m => m.CarYear)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CarMake)
        @Html.EditorFor(m => m.CarMake)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CarModel)
        @Html.EditorFor(m => m.CarModel)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SpeedingTickets)
        @Html.EditorFor(m => m.SpeedingTickets)
    </div>

    <div class="form-group">
        @Html.Label("DUI")
        <input type="checkbox" name="DUI" value="true" @(Model?.DUI == true ? "checked" : "") />
    </div>

    <div class="form-group">
        @Html.Label("Full Coverage")
        <input type="checkbox" name="CoverageType" value="true" @(Model?.CoverageType == true ? "checked" : "") />
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
</div>
}

<p>@Html.ActionLink("Back to List", "Index")</p>


