@model IEnumerable<CarInsurance.Models.Insuree>

<h2>Insurees</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Admin", "Admin")
</p>

<table class="table">
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Email</th>
        <th>Quote</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.EmailAddress</td>
            <td>@item.Quote</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    }
</table>

